@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&display=swap");
/* .protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Protest Guerrilla", sans-serif;
}

.ofertas {
  display: block;
}

.srcontact .contacto form .botones, .srcontact .contacto, .srcontact {
  display: flex;
  justify-content: center;
}

/* inicio header */
header {
  font-size: 25px;
  position: sticky;
  top: 0;
  z-index: 100;
}
header span {
  color: #393e41;
}
header .bg-color {
  background-color: #ffa500;
}
header .navbar-brand {
  font-size: 25px;
}
header .nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

/* fin header */
/* inicio footer */
footer {
  background-color: #ffa500;
  text-align: center;
  padding: 5px;
}
footer .redes {
  word-spacing: 30px;
  font-size: 25px;
}
footer .redes a {
  color: #ede6f2;
}
footer .redes a i:hover {
  color: #393e41;
  transform: scale(1.4);
}
footer .copyright {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

/* fin footer */
/* inicio title */
.title {
  margin-top: 25px;
  text-align: center;
}
.title h1 {
  color: #ffa500;
}
.title p {
  margin-top: -10px;
  color: #393e41;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .title h1 {
    font-size: 60px;
  }
  .title p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .title h1 {
    font-size: 90px;
  }
  .title p {
    font-size: 25px;
  }
}
/* fin title */
.ofertas {
  background-color: #4ce0b3;
  font-size: 15px;
  text-align: center;
  margin-bottom: -16px;
}
.ofertas p {
  font-family: "Oswald", sans-serif;
  padding: 1px;
}

@media only screen and (min-width: 600px) {
  .ofertas {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .ofertas {
    font-size: 25px;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .tarjeta {
  width: 80%;
}
main .tarjeta img {
  width: 100%;
}
main .tarjeta .tarjeta__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
main .tarjeta .tarjeta__desc audio {
  width: 100%;
}
main .tarjeta p {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-align: center;
}
main .tarjeta p span {
  color: #ffa500;
}
main .tarjeta .tarjeta--telecaster .tarjeta__video {
  width: 100%;
}

.calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url(../images/blackwhite.webp);
  background-size: cover;
  background-position: center;
}
.calltoaction p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  color: #ede6f2;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px;
  border-radius: 10%;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.calltoaction p a {
  color: #ede6f2;
  text-decoration: none;
  background-color: #ffa500;
  padding: 5px 20px;
  border-radius: 5%;
  text-align: end;
}
.calltoaction p a:hover {
  background-color: #393e41;
  transform: scale(1.2);
}

@media only screen and (min-width: 480px) {
  .tarjeta__desc p {
    font-size: 20px;
  }
  .tarjeta__video {
    height: 250px;
  }
  .calltoaction p {
    font-size: 19px;
  }
  .calltoaction p a {
    font-size: 19px;
  }
}
@media only screen and (min-width: 600px) {
  .tarjeta {
    display: flex;
    margin: 10px;
  }
  .tarjeta__img {
    width: 50%;
  }
  .tarjeta__desc {
    text-align: center;
    width: 50%;
  }
  .tarjeta__desc audio {
    width: 200px;
  }
  .tarjeta__video {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  .tarjeta__desc p {
    font-size: 30px;
  }
  .calltoaction p {
    font-size: 25px;
  }
  .calltoaction {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .tarjeta__video {
    width: 50%;
    height: 300px;
  }
  .tarjeta__desc audio {
    width: 350px;
  }
  .calltoaction {
    height: 300px;
  }
}
.card {
  margin-bottom: 10px;
  border: none;
}
.card .acercar {
  overflow: hidden;
  text-align: center;
}
.card .acercar img {
  height: 330px;
  width: auto;
  object-fit: contain;
  transition: 2s;
}
.card .acercar img:hover {
  transform: scale(1.4);
}
.card .card-body h2 {
  font-size: 30px;
}
.card .card-body .card-title {
  color: #ffa500;
}
.card .card-body .card-text {
  font-family: "Oswald", sans-serif;
}
.card .card-body a {
  color: #ffa500;
  background-color: #ede6f2;
  border: none;
  font-size: 20px;
}
.card .card-body a:hover {
  transform: scale(1.4);
  background-color: #ede6f2;
  color: #ffa500;
}

@media only screen and (min-width: 1024px) {
  .card-text {
    font-size: 20px;
  }
}
.nosotros {
  margin: 30px;
}
.nosotros h2 {
  color: #ffa500;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}
.nosotros h3 {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 28px;
}
.nosotros p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
.nosotros .cita {
  margin: 50px 0;
  text-align: center;
}
.nosotros .cita strong {
  font-family: "Oswald", sans-serif;
}

.clientes h2 {
  color: #393e41;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
}
.clientes .galeria {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  margin: 20px;
  gap: 10px;
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
}
.clientes .galeria .img {
  min-height: 200px;
  background-position: center;
  background-size: cover;
}
.clientes .galeria .img .citaclientes {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.clientes .galeria .img .citaclientes p {
  color: #ede6f2;
}
.clientes .galeria .img .citaclientes strong {
  font-family: "Oswald", sans-serif;
}
.clientes .galeria .img1 {
  grid-area: img1;
  background-image: url(../images/musicianpro.webp);
}
.clientes .galeria .img2 {
  grid-area: img2;
  background-color: #ffa500;
}
.clientes .galeria .img3 {
  grid-area: img3;
  background-image: url(../images/musician.webp);
}
.clientes .galeria .img4 {
  grid-area: img4;
  background-color: #ffa500;
}
.clientes .galeria .img5 {
  grid-area: img5;
  background-image: url(../images/musicianguitar.webp);
}
.clientes .galeria .img6 {
  grid-area: img6;
  background-color: #ffa500;
}

@media only screen and (min-width: 480px) {
  .clientes .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .clientes .galeria .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .clientes .galeria .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .clientes .galeria .img3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .clientes .galeria .img4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .clientes .galeria .img5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .clientes .galeria .img6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 670px) {
  .clientes .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .clientes .galeria .img .citaclientes {
    font-size: 18px;
  }
  .clientes .galeria .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .clientes .galeria .img2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .clientes .galeria .img3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .clientes .galeria .img4 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .clientes .galeria .img5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .clientes .galeria .img6 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 850px) {
  .clientes .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .clientes .galeria .img .citaclientes {
    font-size: 30px;
  }
  .clientes .galeria .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .clientes .galeria .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .clientes .galeria .img3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .clientes .galeria .img4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .clientes .galeria .img5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .clientes .galeria .img6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 1024px) {
  .img {
    height: 400px;
  }
}
.h2contacto {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
}

.srcontact {
  flex-wrap: wrap;
  align-items: center;
}
.srcontact .contacto {
  text-align: center;
  margin-bottom: 30px;
  margin: 10px;
}
.srcontact .contacto form {
  font-family: "Oswald", sans-serif;
}
.srcontact .contacto form label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.srcontact .contacto form .botones {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.srcontact .contacto form .botones input {
  margin: -15px 20px;
  padding: 0 20px;
  margin-bottom: 25px;
}
.srcontact .info {
  text-align: center;
}
.srcontact .info iframe {
  margin-bottom: 20px;
}
.srcontact .info strong {
  font-family: "Oswald", sans-serif;
}

@media only screen and (min-width: 576px) {
  .srcontact {
    gap: 30px;
  }
  .info iframe {
    margin-bottom: 50px;
    height: 300px;
  }
}
@media only screen and (min-width: 1024px) {
  .srcontact {
    flex-wrap: nowrap;
  }
  .srcontact .contacto {
    width: 60vw;
  }
  .srcontact .contacto form textarea {
    width: 400px;
  }
  .srcontact .contacto form input:not(.botonForm) {
    width: 300px;
  }
  .srcontact .info {
    width: 40vw;
  }
  .srcontact .info iframe {
    margin-bottom: 50px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
