@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&display=swap");
/* .protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Protest Guerrilla", sans-serif;
}

.ofertas {
  display: block;
}

.srcontact .contacto form .botones, .srcontact .contacto, .srcontact {
  display: flex;
  justify-content: center;
}

.ofertas {
  background-color: #000000;
  font-size: 15px;
  text-align: center;
  margin-bottom: -16px;
}
.ofertas p {
  font-family: "Oswald", sans-serif;
  color: #ede6f2;
  padding: 1px;
}

@media only screen and (min-width: 600px) {
  .ofertas {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .ofertas {
    font-size: 25px;
  }
}
/* inicio header */
header {
  font-size: 25px;
  position: sticky;
  top: -1px;
  z-index: 100;
}
header .navbar {
  background-color: #ffa500;
}
header .navbar .container-fluid .navbar-brand {
  font-size: 25px;
}
header .navbar .container-fluid .navbar-brand img {
  height: 40px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-link {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #ede6f2;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-link:active {
  color: #393e41;
  transform: scale(1.1);
}
header .navbar .container-fluid button span {
  color: #393e41;
}

@media only screen and (min-width: 1024px) {
  header .navbar .container-fluid .navbar-brand img {
    height: 60px;
  }
  header .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
    color: #393e41;
    transform: scale(1.1);
  }
}
/* fin header */
/* inicio title */
.title {
  margin: 40px 0;
  text-align: center;
}
.title h1 {
  color: #ffa500;
}
.title p {
  margin-top: -10px;
  color: #393e41;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .title h1 {
    font-size: 60px;
  }
  .title p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .title h1 {
    font-size: 90px;
  }
  .title p {
    font-size: 25px;
  }
}
/* fin title */
/* inicio footer */
footer {
  background-color: #ffa500;
  text-align: center;
  padding: 5px;
}
footer .redes {
  word-spacing: 30px;
  font-size: 25px;
}
footer .redes a {
  color: #ede6f2;
}
footer .redes a i:active {
  color: #393e41;
  transform: scale(1.4);
}
footer .copyright {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
  footer .redes a i:hover {
    color: #393e41;
    transform: scale(1.4);
  }
}
/* fin footer */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .tarjeta {
  width: 80%;
  margin-bottom: 40px;
}
main .tarjeta img {
  width: 100%;
}
main .tarjeta .tarjeta__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
main .tarjeta .tarjeta__desc audio {
  width: 100%;
}
main .tarjeta p {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-align: center;
}
main .tarjeta p span {
  color: #ffa500;
}
main .tarjeta .tarjeta--telecaster .tarjeta__video {
  width: 100%;
}

.calltoaction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 200px;
  background-image: url(../img/swiftriff-guitarras-guitarrista.webp);
  background-size: cover;
  background-position: center;
}
.calltoaction p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5px;
  width: 80%;
  color: #ede6f2;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px;
  border-radius: 10%;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.calltoaction p a {
  color: #ede6f2;
  text-decoration: none;
  background-color: #ffa500;
  padding: 5px 20px;
}
.calltoaction p a:active {
  background-color: #393e41;
  transform: scale(1.2);
}

@media only screen and (min-width: 480px) {
  .tarjeta__desc p {
    font-size: 20px;
  }
  .tarjeta__video {
    height: 250px;
  }
  .calltoaction p {
    gap: 20px;
    font-size: 19px;
  }
  .calltoaction p a {
    font-size: 19px;
  }
}
@media only screen and (min-width: 600px) {
  .tarjeta {
    display: flex;
    margin: 10px;
  }
  .tarjeta__img {
    width: 50%;
  }
  .tarjeta__desc {
    text-align: center;
    width: 50%;
  }
  .tarjeta__desc audio {
    width: 200px;
  }
  .tarjeta__video {
    width: 50%;
  }
  .calltoaction p {
    gap: 25px;
  }
}
@media only screen and (min-width: 800px) {
  .tarjeta__desc p {
    font-size: 30px;
  }
  .calltoaction p {
    font-size: 25px;
    gap: 30px;
  }
  .calltoaction {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .tarjeta__video {
    width: 50%;
    height: 300px;
  }
  .tarjeta__desc audio {
    width: 350px;
  }
  .calltoaction {
    height: 300px;
  }
  .calltoaction p a {
    margin: 0 40%;
  }
  .calltoaction p a:hover {
    background-color: #393e41;
    transform: scale(1.2);
  }
}
.col-sm {
  margin-bottom: 60px;
}
.col-sm .card {
  border: none;
}
.col-sm .card .acercar {
  overflow: hidden;
  text-align: center;
}
.col-sm .card .acercar img {
  height: 330px;
  width: auto;
  object-fit: contain;
  transition: 2s;
}
.col-sm .card .acercar img:active {
  transform: scale(1.4);
}
.col-sm .card .card-body .card-title {
  color: #ffa500;
  font-size: 30px;
}
.col-sm .card .card-body .card-text {
  font-family: "Oswald", sans-serif;
}
.col-sm .card .card-body a {
  width: 50px;
  color: #ffa500;
  background-color: #ede6f2;
  border: none;
  font-size: 20px;
}
.col-sm .card .card-body a:active {
  transform: scale(1.4);
  background-color: #ede6f2;
  color: #ffa500;
}

@media only screen and (min-width: 1024px) {
  .col-sm .card .acercar img:hover {
    transform: scale(1.4);
  }
  .col-sm .card .card-body .card-text {
    font-size: 20px;
  }
  .col-sm .card .card-body a:hover {
    transform: scale(1.4);
    background-color: #ede6f2;
    color: #ffa500;
  }
}
.nosotros {
  margin: 30px;
}
.nosotros .slogan {
  display: flex;
  flex-wrap: wrap;
}
.nosotros .slogan img {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 20px;
}
.nosotros h2 {
  color: #ffa500;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 40px;
  text-align: center;
}
.nosotros h3 {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 28px;
}
.nosotros p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
.nosotros .cita {
  margin: 35px 0;
  text-align: center;
}
.nosotros .cita strong {
  font-family: "Oswald", sans-serif;
}
.nosotros .parrafo img {
  width: 100%;
  border-radius: 5%;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .nosotros .slogan {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .nosotros .slogan img {
    width: 45%;
  }
  .nosotros .slogan p {
    width: 45%;
  }
  .nosotros .parrafo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
  }
  .nosotros .parrafo img {
    width: 45%;
  }
  .nosotros .parrafo p {
    width: 45%;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .nosotros .slogan p {
    font-size: 25px;
  }
  .nosotros .parrafo p {
    font-size: 25px;
  }
}
.clientes h2 {
  color: #393e41;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
}
.clientes .galeria {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  margin: 20px;
  gap: 10px;
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
}
.clientes .galeria .img {
  min-height: 200px;
  background-position: center;
  background-size: cover;
}
.clientes .galeria .img .citaclientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.clientes .galeria .img .citaclientes p {
  color: #ede6f2;
}
.clientes .galeria .img .citaclientes strong {
  font-family: "Oswald", sans-serif;
}
.clientes .galeria .img1 {
  grid-area: img1;
  background-image: url(../img/kurt-richards-swiftriff.webp);
}
.clientes .galeria .img2 {
  grid-area: img2;
  background-color: #ffa500;
}
.clientes .galeria .img3 {
  grid-area: img3;
  background-image: url(../img/carlos-napoli-swiftriff.webp);
}
.clientes .galeria .img4 {
  grid-area: img4;
  background-color: #ffa500;
}
.clientes .galeria .img5 {
  grid-area: img5;
  background-image: url(../img/norberto-mollo-swiftriff.webp);
}
.clientes .galeria .img6 {
  grid-area: img6;
  background-color: #ffa500;
}

@media only screen and (min-width: 480px) {
  .clientes .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .clientes .galeria .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .clientes .galeria .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .clientes .galeria .img3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .clientes .galeria .img4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .clientes .galeria .img5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .clientes .galeria .img6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 670px) {
  .clientes .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .clientes .galeria .img .citaclientes {
    font-size: 18px;
  }
  .clientes .galeria .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .clientes .galeria .img2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .clientes .galeria .img3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .clientes .galeria .img4 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .clientes .galeria .img5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .clientes .galeria .img6 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 850px) {
  .clientes .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .clientes .galeria .img .citaclientes {
    font-size: 30px;
  }
  .clientes .galeria .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .clientes .galeria .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .clientes .galeria .img3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .clientes .galeria .img4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .clientes .galeria .img5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .clientes .galeria .img6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 1024px) {
  .img {
    height: 400px;
  }
}
::placeholder {
  text-align: center;
}

.h2contacto {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
}

.srcontact {
  flex-wrap: wrap;
  align-items: center;
}
.srcontact .contacto {
  text-align: center;
  margin-bottom: 30px;
  margin: 10px;
}
.srcontact .contacto form {
  font-family: "Oswald", sans-serif;
}
.srcontact .contacto form label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.srcontact .contacto form input {
  width: 100%;
  border: none;
  border-radius: 5%;
  border-bottom: 1px solid #ffa500;
}
.srcontact .contacto form input:focus {
  border: none;
  outline: 2px solid #ffa500;
}
.srcontact .contacto form select {
  border: none;
  border-bottom: 1px solid #ffa500;
}
.srcontact .contacto form select option {
  font-family: "Oswald", sans-serif;
}
.srcontact .contacto form .botones {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.srcontact .contacto form .botones input {
  margin: -15px 20px;
  padding: 0 10px;
  margin-bottom: 25px;
  border: none;
  padding: 5px 20px;
  background-color: #ffa500;
  color: #ede6f2;
  border-radius: 10%;
}
.srcontact .contacto form .botones input:active {
  background-color: #393e41;
  transform: scale(1.2);
}
.srcontact .contacto form textarea {
  border: 1px solid #ffa500;
  border-radius: 5%;
  resize: none;
  width: 100%;
}
.srcontact .contacto form textarea:focus {
  border: none;
  outline: 2px solid #ffa500;
}
.srcontact .info {
  text-align: center;
}
.srcontact .info iframe {
  margin-bottom: 20px;
  width: 80%;
}
.srcontact .info strong {
  font-family: "Oswald", sans-serif;
}

@media only screen and (min-width: 576px) {
  .srcontact {
    gap: 30px;
  }
  .info iframe {
    margin-bottom: 50px;
    height: 300px;
  }
}
@media only screen and (min-width: 1024px) {
  .srcontact {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
  .srcontact .contacto {
    width: 60vw;
  }
  .srcontact .contacto form textarea {
    width: 300px;
  }
  .srcontact .contacto form input:not(.botonForm) {
    width: 300px;
  }
  .srcontact .contacto form .botones input:hover {
    background-color: #393e41;
    transform: scale(1.2);
  }
  .srcontact .info {
    width: 40vw;
  }
  .srcontact .info iframe {
    margin-bottom: 50px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
