/* inicio header */

header {
    font-size: 25px;
    span {
        color: rgb(128, 128, 128);
    }
    .bg-color {
        background-color: rgb(255, 165, 0);
    }
    .navbar-brand {
        font-size: 25px;
    }
    .nav-link {
        font-family: "Oswald", sans-serif;
        font-size: 20px;
    }
}

/* fin header */

/* inicio footer */

footer {
    background-color: rgb(255, 165, 0);
    text-align: center;
    padding: 5px;
    .redes {
        word-spacing: 30px;
        font-size: 25px;
        a {
            color: rgb(255, 255, 255);
            i {
                &:hover {
                    color: rgb(128, 128, 128);
                    transform: scale(1.4);
                }
            }
        }
    }
    .copyright {
        font-size: 16px;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
    }
}

/* fin footer */

/* inicio title */

.title {
    margin-top: 80px;
    text-align: center;
    h1 {
        color: rgb(255, 165, 0);
    }
    p {
        margin-top: -10px;
        color: rgb(128, 128, 128);
        font-family: "Oswald", sans-serif;
        font-weight: 500;
    }
}

@media only screen and (min-width: 600px) {
    .title h1 {
        font-size: 60px;
    }
    .title p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .title h1 {
        font-size: 90px;
    }
    .title p {
        font-size: 25px;
    }
}

/* fin title */