.h2contacto {
    text-align: center;
    margin-bottom: 40px;
    font-family: $regularFont;
}

.srcontact {
    @extend %centrar;
    flex-wrap: wrap;
    align-items: center;
    .contacto {
        @extend %centrar;
        text-align: center;
        margin-bottom: 30px;
        margin: 10px;
        form {
            font-family: $regularFont;
            label {
                font-family: $regularFont;
                font-weight: 500;
            }
            .botones {
                @extend %centrar;
                font-family: $regularFont;
                font-weight: 500;
                input  {
                    margin: -15px 20px;
                    padding: 0 20px;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .info {
        text-align: center;
        iframe {
            margin-bottom: 20px;
        }
        strong {
            font-family: $regularFont;
        }
    }
}

@media only screen and (min-width: 576px) {
    .srcontact {
        gap: 30px;
    }
    
    .info {
        iframe {
            margin-bottom: 50px;
            height: 300px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .srcontact {
        flex-wrap: nowrap;
        .contacto {
            width: 60vw;
            form {
                textarea {
                    width: 400px;
                }
                input:not(.botonForm) {
                    width: 300px;
                }
            }
        }
        .info {
            width: 40vw;
            iframe {
                margin-bottom: 50px;
                height: 300px;
            }
        }
    }
}