/* inicio nosotros */

.nosotros {
    margin: 30px;
}

.nosotros h3 {
    color: rgb(255, 165, 0);
    font-family: "Oswald", sans-serif;
}

.nosotros .cita{
    margin: 50px 0;
    text-align: center;
}

.nosotros .cita strong {
    font-family: "Oswald", sans-serif;
}

.nosotros p {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

/* fin nosotros */